[submodule "custom_nodes/ComfyUI_NestedNodeBuilder"]
	path = custom_nodes/ComfyUI_NestedNodeBuilder
	url = https://github.com/ssitu/ComfyUI_NestedNodeBuilder
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/LucianoCirino/efficiency-nodes-comfyui
[submodule "custom_nodes/ComfyUI-Image-Selector"]
	path = custom_nodes/ComfyUI-Image-Selector
	url = https://github.com/SLAPaper/ComfyUI-Image-Selector.git
[submodule "custom_nodes/adv-clip"]
	path = custom_nodes/adv-clip
	url = https://github.com/BlenderNeko/ComfyUI_ADV_CLIP_emb
[submodule "custom_nodes/tiled-ksampler"]
	path = custom_nodes/tiled-ksampler
	url = https://github.com/BlenderNeko/ComfyUI_TiledKSampler
[submodule "custom_nodes/masquerade"]
	path = custom_nodes/masquerade
	url = https://github.com/BadCafeCode/masquerade-nodes-comfyui
[submodule "custom_nodes/rembg"]
	path = custom_nodes/rembg
	url = https://github.com/Jcd1230/rembg-comfyui-node
